# Kwork аккаунт
KWORK_EMAIL=kokoskokosewwe@gmail.com
KWORK_PASSWORD=4589fdgjfgh89345

# Telegram Bot (создать через @BotFather)
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

# Telegram API (получить на https://my.telegram.org/apps) - опционально
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Путь для сохранения сессий
SESSION_PATH=./sessions/
